<h1><%= t("app.projects.tasks.moreover.title") %></h1>

<section class="attributes">
	<div class="content">
		...
	</div>
	<aside>
		<div class="timeusage">
			<span class="label"> <%= t("app.projects.tasks.moreover.timeusage") %>: </span>
			<span class="value">
				<%= (@project.moreover_time_usage/3600).round(1).to_s+' '+t('app.projects.tasks.hours') %>
			</span>
		</div>
		<div class="durations">
			<span class="label"> <%= t("app.projects.tasks.moreover.duration") %>: </span>
			<span class="timeusage">
				<%= to_duration(@project.moreover_duration[:best]) %> - <%= to_duration(@project.moreover_duration[:worst]) %>
				<%= t('app.projects.tasks.hours') %>
			</span>
		</div>
		<div class="timeusage">
			<span class="label"> <%= t("app.projects.tasks.moreover.count") %>: </span>
			<span class="value">
				<%= @tasks.count %>
			</span>
		</div>
	</aside>
</section>

<h2> <%= t("app.projects.tasks.index") %></h2>
<%= render :partial => 'tasks/index' %>
