<h1><%= t("page.title.users.show") %></h1>

<section class="attributes">
	<div class="content">
		<h2>
			<span class="name">
				<%= @user.full_name %>
			</span>
		</h2>


		<p>
			<b><%= t('activerecord.attributes.user.email') %>:</b>
			<%= @user.email %>
		</p>

		<p>
			<b><%= t('activerecord.attributes.user.company') %>:</b>
			<%= @user.company.name %>
		</p>

		<p>
			<b><%= t('activerecord.attributes.user.role') %>:</b>
			<%= @user.user_role.t_name %>
		</p>

	</div>


</section>

<section class="actions">
	<% if can? :edit, @user %>
		<%= link_to t('app.helpers.edit'), edit_company_user_path(@user._company_id, @user.id) %> | 
	<% end %>
	<%= link_to t("page.navig.users.back"), company_users_path(@user._company_id) %>	
</section>
