<h1><%= t("page.title.events.show") %></h1>

<section class="attributes">
	<p>
		<b><%= t('activerecord.attributes.event.origin_type') %>:</b>
		<%= @event.origin_type %>
	</p>

	<p>
		<b><%= t('activerecord.attributes.event.user') %>:</b>
		<%= @event.user %>
	</p>

	<p>
		<b><%= t('activerecord.attributes.event.target_class') %>:</b>
		<%= @event.target_class %>
	</p>

	<p>
		<b><%= t('activerecord.attributes.event.viewed') %>:</b>
		<%= @event.viewed %>
	</p>

	<p>
		<b><%= t('activerecord.attributes.event.data_id') %>:</b>
		<%= @event.data_id %>
	</p>

	<p>
		<b><%= t('activerecord.attributes.event.action_type') %>:</b>
		<%= @event.action_type %>
	</p>

</section>

<section class="actions">
	<% if can? :edit, @event %>
		<%= link_to t('app.helpers.edit'), edit_event_path(@event.id) %> | 
	<% end %>
	<%= link_to t("page.navig.events.back"), events_path %>	
</section>
